bin/*
doc/*
lib/*
include/mylib/*
results/*
*.swp
*.log
*.o
*.lo
/libsrc/libgomp/libgomp/build/*
contrib/bin
contrib/lib
contrib/include
contrib/share
contrib/man
contrib/papi-5.4.1
src/kernels/NPB/IS/npbparams.h
src/kernels/NPB/bin/*
src/kernels/NPB/sys/setparams
*.out
